<header class="bg-gray-900 text-white p-6 border-b border-purple-800 fixed w-full z-30">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-3xl md:text-4xl font-extrabold tracking-wide text-purple-400">Zamir.dev</a>
        <nav class="space-x-4 md:space-x-6">
            <a href="/#timeline" class="text-base md:text-lg font-medium text-gray-300 hover:text-purple-400 transition duration-200">Timeline</a>
            <a href="/all-posts.html" class="text-base md:text-lg font-medium text-gray-300 hover:text-purple-400 transition duration-200">All Posts</a>
            <a href="/about.html" class="text-base md:text-lg font-medium text-gray-300 hover:text-purple-400 transition duration-200">About</a>
        </nav>
    </div>
</header>